* {
  margin: 0;
  padding: 0;

}

/* nav bar start */
.logo {
  padding-top: 20px;
  margin-left: 80px;
  font-size: 35px;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  justify-content: center;
  text-transform: capitalize;
  align-items: end;
}

.box {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-bottom: 20px;
  padding-left: 20px;
  width: 5px;
  background-color: #2F855A;
}

.navbar {
  display: flex;
  justify-content: space-between;

  align-items: center;

}

.navbar-container {
  display: flex;
  background-color: rgb(36, 34, 34);
  width: 100%;

  padding: 1rem, 2rem;

  justify-content: space-between;

  align-items: flex-end;
  height: 100px;
}

.navbar-list {
  display: flex;

  list-style: none;

  justify-content: center;

}

.navbar-link {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-size: 18px;

}

.btn {
  text-transform: capitalize;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-self: center;
  color: white;
  padding-top: 10px;
  margin-left: 20px;
  font-size: 18px;
}

.btn-success {
  background-color: #2F855A;
  padding: 5px 5px;
  margin-bottom: 10px;
  width: 75px;
  border: none;
}

/* main start */

.main-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #242121;
}

.mainimage-sec img {
  width: 600px;
  height: 400px;


}

.main-contentsec {
  flex: 1;

}


.main-content {
  margin-bottom: 50px;

}

.main-head {
  font-size: 40px;
  margin-left: 100px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;

}

.main-text {
  margin-left: 100px;
  color: #ffffff;
  margin-top: 20px;
  line-height: 20px;

}

/* partners css */
.partners-sec {

  height: 200px;
  width: auto;
  background-color: rgb(36, 34, 34);

}

.partners-list {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
list-style: none;
  padding-left: 180px;


}

.partners-item {
  min-width: 150px;

}

.partners-item img {
  width: 150px;

}

.title {
  font-size: 30px;
  margin-left: 180px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
}
/* areas */

 .areas-container {
 
  background-color: #242121;
padding-top: 50px;
  
 
}

.areas-contant {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.areas-contantsec {
 
  display: flex;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
}

.areas-sec {
 
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  text-align: left;
}

.areas-sec .area-img {
  width: 300px;
  height: auto;
 
  margin-bottom: 10px;
}

.areas-sec .areas-title {
  margin-top: 0;
  font-size: 25px;
text-transform: capitalize;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
}

.areas-details {
 display: flex;
  justify-content: space-between;
 color: #fff;
 justify-content: center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.9em;
}



.view-btn {
 
 margin-left: 600px;
 margin-top: 20px;
  padding: 10px 20px;
  background-color: #2F855A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
.area-text{
  color: #fff;
  text-transform: capitalize;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.area-head {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 140px;
  font-size: 2em;
  color: #fff;
}
 


  

/* homeinfo css */
.homeinfo-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #242121;
}

.homeimage-sec img {
  width: 300px;
  height: 500px;
  border-radius: 8px;
  margin-left: 30px;
}

.home-contentsec {
  flex: 1;

}


.home-content {
  margin-bottom: 20px;
}

.home-head {
  font-size: 1.8em;
  margin-left: 30px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;

}

.home-text {
  margin-left: 30px;
  color: #ffffff;
  margin-top: 20px;

}


.home-btn {
  background-color: #2F855A;
  padding: 5px 5px;
  margin-left: 30px;
  margin-top: 20px;
  text-transform: capitalize;
  border: none;
  margin-bottom: 10px;
  width: 100px;
}

/* startup start */
.startup-sec {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  background-color: #242121;
}





.startup-content {
  margin-bottom: 20px;
}

.startup-head {
  font-size: 50px;
  margin-left: 70px;
  line-height: 70px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;

}

.startup-text {
  margin-left: 200px;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 20px;

}


.startup-btn {
  background-color: #2F855A;
  padding: 5px 5px;
  color: #ffffff;
  margin-left: 200px;
  height: 40px;
  width: 150px;
  margin-top: 20px;
  text-transform: capitalize;
  border: none;
  margin-bottom: 30px;

}
/* reviews start */
.reviews-sec{
  background-color: #242121;
}
.name-sec {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #242121;
}
.name-sec2{
  flex: 1,0;
}

.reviews-head {
  font-size: 100px;
  margin-bottom: 30px;
  margin-left: 400px;
  line-height: 70px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;

}

.reviews-text {
  margin-left: 400px;
  margin-right: 350px;
  font-size: 20px;
  color: #ffffff;
margin-bottom: 20px;
  line-height: 20px;

}
.reviews-name{
  margin-left: 140px;
  color: #ffffff;
  line-height: 20px;
  font-size: 18px;
  text-transform: capitalize;
  
  
}
.reviews-username{
  margin-left: 140px;
  color: #ffffff;
  line-height: 20px;
  font-size: 10px;
  text-transform: capitalize;
 
}



.left-btn{

height: 30px;
width: 40px;
background-color: #242121;
color: white;
text-transform: capitalize;

border: none;

}
.right-btn{
  background-color: #242121;
  color: white;
  margin-left: 10px;
  height: 30px;
width: 40px;
border: none;
}
/* servies start */
.servies-heading{
  background-color: #242121;
color: white;
font-size: 30px;
text-align: center;
padding: 20px;
font-family: 'Times New Roman', Times, serif;
text-transform: capitalize;
}
.servies-sec {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #242121;
}

.serviesimage-sec img {
  width: 10px;
  height: 100px;
  border-radius: 50%;
  margin-left: 130px;



}

.servies-contentsec {
  justify-content: space-between;
}


.servies-contenttext {
  margin-bottom: 50px;
}

.servies-head {
  font-size: 40px;
  margin-left: 100px;
  font-size: 20px;
  text-transform: capitalize;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
margin-top: 10px;
}

.servies-text {
padding-left: 20px;
margin-left: 20px;
  color: #ffffff;
  margin-top: 20px;
  line-height: 20px;

}
/* footer start */

.footer {
  display: flex;
  justify-content: space-between; 
  padding: 20px;
  background-color: #000000;
}




.footer-section-left {
  flex: 1; 
  
}





.footer-section-dub {
  display: flex;
  flex-direction: column; 
 margin-right: 50px;
 
  
}



.footer-title {
  color: #fff;
  text-transform: capitalize;
  font-size: 30px;
padding-left: 40px;
padding-top: 20px;


}

.footer-text {
  margin-top: 30px;
line-height: 20px;
  color: #fff;
  font-size: 12px;
   padding-left: 150px;
  
}



.footer-links-title {
  color: #fff;
  text-transform: capitalize;
  font-size: 25px;
margin-bottom: 20px;

}



.links {
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  margin-right: 20px;
 line-height: 30px;
  list-style: none;
}
.footer-box {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-top: 20px;
  padding-left: 20px;
  width: 5px;
  background-color: #2F855A;
}
.footer-social{
  
  margin-top: 20px;
  color: #fff;
  display: flex;
  padding-left: 150px;
  gap: 20px;
  list-style: none;
  text-transform: capitalize;
}
